/* 
  display: flex;
  justify-content: center;
  align-items: center;
 */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --maincolor: #2196f3;
  --seccolor: #1787e0;
  --backcolor: #ececec;
  --pcolor: #666;
  --bcolor: #ddd;
  --padding: 100px 0px 100px 0px;
  --trans: 0.3s;
  --shadow: rgba(0 0 0 / .1) 0 2px 15px 0px;
  ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

section {
  position: relative;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url("../images/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}

.dotsup {
  top: 200px;
  right: 0;
}

.dotsdown {
  bottom: 200px;
  left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  border: 3px solid black;
  text-transform: uppercase;
  transition-duration: var(--trans);
  z-index: 1;
  max-width: 80%;
  text-align: center;
}

.head:hover {
  color: white;
  border-color: white;
  transition-delay: .5s;
}

.head::before,
.head::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--maincolor);
  border-radius: 50%;
  z-index: -1;
}

.head::before {
  left: -30px;
}

.head::after {
  right: -30px;
}

.head:hover::before {
  animation: lefthead .5s linear forwards;
}

.head:hover::after {
  animation: righthead .5s linear forwards;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Keyframes */

@keyframes upanddown {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes lefthead {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  100% {
    left: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes righthead {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  100% {
    right: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes flashing {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes back {

  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }

  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}

/* End Keyframes */

.up {
  position: fixed;
  bottom: 0;
  right: 2vh;
  width: 40px;
  padding: 3px;
  background-color: var(--maincolor);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  z-index: 10;
  text-align: center;
  opacity: .4;
  transition: var(--trans);
}

.up:hover {
  opacity: 1;
}

/* Start Header */

header {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container .logo img {
  height: 65px;
  padding: 10px;
  max-width: 100%;
}

header .container>ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

header .container>ul>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: capitalize;
  color: black;
  font-size: 18px;
  padding: 0 30px;
  height: 72px;
  overflow: hidden;
  transition: var(--trans);
}

header .container>ul>li>a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--maincolor);
  transition: var(--trans);
}

header .container>ul>li>a:hover {
  color: var(--maincolor);
  background-color: #fafafa;
}

header .container ul>li>a:hover:before {
  left: 0;
}

header .mega {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  opacity: 0;
  top: calc(100% + 50px);
  left: 0;
  background-color: #fafafa;
  padding: 20px;
  border-bottom: 3px solid var(--maincolor);
  transition: top var(--trans), opacity var(--trans);
  z-index: -1;
}

header .mega img {
  width: 400px;
  display: none;
}

@media (min-width: 992px) {
  header .mega img {
    display: block;
  }
}

header .mega .links {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

header .mega .links li {
  position: relative;
  flex-grow: 1;
  border-bottom: 1px solid var(--bcolor);
  padding: 20px;
}

header .mega .links li a {
  display: flex;
  align-items: center;
  color: var(--maincolor);
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  padding: 0 0 0 20px;
  transition: var(--trans);
}

header .mega .links li a i {
  margin-right: 10px;
}

header .mega .links li a:hover {
  padding-left: 30px;
}

header .container>ul>li:last-child:hover .mega {
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 1;
}

@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }

  header .container>ul {
    width: 100%;
    justify-content: space-evenly;
  }

  header .container>ul>li>a {
    height: fit-content;
    padding: 10px 0;
  }

  header .mega {
    flex-direction: column;
    gap: 0px;
    padding: 0;
  }

  header .mega .links li {
    padding: 15px;
  }
}

/* End Header */
/* start landing */

.landing {
  position: relative;
  overflow-x: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: var(--backcolor);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
}

.landing .container .text {
  flex-grow: 1;
}

.landing .container .text h1 {
  font-size: 3em;
  letter-spacing: -1px;
}

.landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  color: var(--pcolor);
  max-width: 500px;
}

.landing .container .img img {
  width: 600px;
  position: relative;
  animation: upanddown 5s linear infinite;
}

.landing>a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--maincolor);
}

.landing>a i {
  animation: bouncing 1.5s infinite;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }

  .landing .container .text h1 {
    font-size: 2em;
  }

  .landing .container .text p {
    font-size: 1.3em;
    text-align: center;
    margin: auto;
  }

  .landing .container .img img {
    display: none;
  }

  .landing>a {
    bottom: 50px;
  }
}

/* end landing */
/* start articles */

.articles {
  padding: var(--padding);
}

.articles .cont {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.articles .box {
  border-radius: 6px;
  box-shadow: rgba(0 0 0 / .1) 0 2px 15px 0px;
  overflow: hidden;
  position: relative;
  transition: var(--trans);
  top: 0;
}

.articles .box:hover {
  top: -15px;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 15px 0px;
}

.articles .box img {
  width: 100%;
}

.articles .box .text {
  padding: 0 20px;
  border-bottom: solid 1px var(--bcolor);
}

.articles .box .text h3 {
  text-transform: capitalize;
}

.articles .box .text p {
  color: var(--pcolor);
  line-height: 1.7;
}

.articles .box .more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: var(--trans);
}

/* .articles .box .more:hover {
  padding-left: 40px;
} */

.articles .box .more p {
  color: var(--maincolor);
  font-weight: 700;
}

.articles .box .more i {
  color: var(--maincolor);
  transform: translateX(-10px);
}

.articles .box:hover .more i {
  animation: arrow .5s both infinite alternate;
}

/* end articles */
/* start gallery */

.gallery {
  background-color: var(--backcolor);
  padding: var(--padding);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .img {
  position: relative;
  overflow: hidden;
}

.gallery .img:hover img {
  transform: rotate(3deg) scale(1.1);
}

.gallery .img::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  z-index: 2;
}

.gallery .img:hover:before {
  animation: flashing .5s;
}

.gallery .img img {
  max-width: 100%;
  overflow: hidden;
  transition: var(--trans);
}

/* end gallery */
/* start features */

.features {
  padding: var(--padding);
}

.features .container {
  display: flex;
  gap: 40px;
}

@media (max-width:991px) {
  .features .container {
    flex-direction: column;
  }
}

.features .box {
  /* border-radius: 6px; */
  overflow: hidden;
  box-shadow: var(--shadow);
  border: 1px solid var(--bcolor);
  flex-grow: 1;
  flex-basis: 30%;
}

.features .box .img {
  position: relative;
}

.features .box .img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.features .box:nth-child(1) .img::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .box:nth-child(2) .img::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .box:nth-child(3) .img::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .box .img::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0px;
  border-color: transparent transparent white;
  border-width: 0px 0px 170px 1000px;
  border-style: solid;
  transition: var(--trans);
}

.features .box:hover .img::after {
  border-width: 0px 1000px 170px 0px;
}

.features .box .img img {
  width: 100%;
}

.features .box .text {
  text-align: center;
}

.features .box .text h2 {
  font-size: 40px;
  margin: 0 auto 0;
  position: relative;
  width: fit-content;
}

.features .box .text h2::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  background-color: #1787e0;
}

.features .box:nth-child(1) .text h2::after {
  background-color: rgb(244 64 54);
}

.features .box:nth-child(2) .text h2::after {
  background-color: rgb(0 150 136);
}

.features .box:nth-child(3) .text h2::after {
  background-color: rgb(3 169 244);
}

.features .box .text p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: var(--pcolor);
}

.features .box a {
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  margin: 0 auto 30px;
  width: fit-content;
  border-radius: 6px;
  border: 4px solid;
  background-size: 200% 98%;
  background-position: right bottom;
  transition: var(--trans);
}

.features .box:nth-child(1) a {
  color: rgb(244, 64, 54);
  border-color: rgb(244, 64, 54);
  background-image: linear-gradient(to right, rgb(244 64 54) 50%, white 50%);
}

.features .box:nth-child(2) a {
  color: rgb(0 150 136);
  border-color: rgb(0 150 136);
  background-image: linear-gradient(to right, rgb(0 150 136) 50%, white 50%);
}

.features .box:nth-child(3) a {
  color: rgb(3 169 244);
  border-color: rgb(3 169 244);
  background-image: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
}

.features .box:hover a {
  color: white;
  background-position: left bottom;
}

/* end features */
/* start test */

.test {
  padding: var(--padding);
  background-color: var(--backcolor);
}

.test .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  /* column-gap: 30px;
  row-gap: 50px; */
}

.test .container .box {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 6px;
  position: relative;
  padding: 20px;
}

.test .container .box img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  width: 100px;
  border-radius: 50px;
  border: 10px solid var(--backcolor);
}

.test .container .box h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.test .container .box h4 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 15px;
  color: var(--pcolor);
}

.test .container .box .rating {
  color: var(--bcolor);
  margin: 0 0 15px;
}

.test .container .box .filled {
  color: rgb(255, 193, 7);
}

.test .container .box p {
  color: var(--pcolor);
}

/* end test */
/* start team */

.team {
  padding: var(--padding);
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team .box {
  position: relative;
}

.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 6px;
  z-index: -1;
  transition: var(--trans);
}

.team .box::before {
  background-color: var(--backcolor);
  width: calc(100% - 60px);
}

.team .box::after {
  background-color: var(--bcolor);
  width: 0;
}

.team .box:hover::after {
  width: calc(100% - 60px);
}

.team .box .data {
  display: flex;
  padding-top: 60px;
}

.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 6px;
  transition: var(--trans);
}

.team .box:hover .data img {
  filter: grayscale(1);
}

.team .box .data .social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.team .box .data .social a {
  display: block;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: var(--pcolor);
}

.team .box .data .social a:hover {
  color: var(--maincolor);
}

.team .box .info {
  padding-left: 80px;
}

.team .box .info h2 {
  color: var(--maincolor);
  margin-bottom: 10px;
  transition: var(--trans);
}

.team .box:hover .info h2 {
  color: var(--pcolor);
}

.team .box .info p {
  margin-top: 0;
}

/* end team */
/* start services */

.services {
  padding: var(--padding);
  background-color: var(--backcolor);
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.services .box {
  background-color: white;
  box-shadow: var(--shadow);
  counter-increment: services;
  position: relative;
  transition: var(--trans);
  top: 0;
}

.services .box:hover {
  top: -10px;
}

.services .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--maincolor);
  transition: var(--trans);
}

.services .box:hover:before {
  width: 100%;
}

.services .box i {
  display: block;
  text-align: center;
  margin: 30px auto 20px;
  color: var(--bcolor);
}

.services .box h2 {
  text-align: center;
  margin: 20px auto 50px;
  color: var(--maincolor);
}

.services .box .info {
  padding: 15px;
  position: relative;
}

.services .box .info::before {
  content: "0"counter(services);
  position: absolute;
  background-color: var(--maincolor);
  height: 100%;
  width: 80px;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}

.services .box .info::after {
  content: "";
  position: absolute;
  background-color: var(--bcolor);
  height: 100%;
  width: 40px;
  top: 0%;
  left: 23%;
  transform: skewX(-20deg) scaleY(1.01);
}

.services .box .info a {
  display: block;
  text-align: right;
  color: var(--maincolor);
}

/* end services */
/* start skills */

.skills {
  padding: var(--padding);
}

.skills .container {
  display: flex;
  align-items: center;
}

.skills img {
  width: 500px;
  max-width: 100%;
}

@media (max-width:991px) {
  .skills img {
    display: none;
  }
}

.skills .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.skills .data .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .data .skill h3 span {
  display: block;
  color: var(--maincolor);
  font-size: 15px;
  padding: 3px 5px;
  border: 1px solid var(--bcolor);
  border-radius: 6px;
}

.skills .data .skill .prog {
  height: 30px;
  background-color: var(--backcolor);
  position: relative;
}

.skills .data .skill .prog span {
  height: 30px;
  background-color: var(--maincolor);
  position: absolute;
}

/* end skills */
/* start work */

.work {
  padding: var(--padding);
  background-color: var(--backcolor);
}

.work .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media (max-width: 991px) {
  .work .container {
    flex-direction: column;
  }
}

.work .container img {
  max-width: 100%;
}

@media (max-width:767px) {

  .work .container>img {
    display: none;
  }
}

.work .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.work .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.work .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: var(--backcolor);
  border-radius: 6px;
  transition: var(--trans);
  opacity: .5;
  z-index: -1;
}

.work .box:hover:after {
  width: 100%;
  height: 100%;
}

.work .box img {
  width: 64px;
  margin-right: 30px;
}


.work .box .text h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.work .box .text p {
  color: var(--pcolor);
  line-height: 1.7;
  font-size: 1.1em;
  margin: 0;
}

/* end work */
/* start events */

.events {
  padding: var(--padding);
}

.events .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.events .img img {
  max-width: 100%;
  width: 450px;
}

.events .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.events .cont .count {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.events .cont .count .unit {
  border: 1px solid var(--bcolor);
  border-radius: 6px;
  width: 75px;
  text-align: center;
  transition: var(--trans);
}

.events .cont .count .unit:hover {
  border-color: var(--maincolor);
}

.events .cont .count .unit span {
  display: block;
  padding: 10px;
  text-transform: capitalize;
}

.events .cont .count .unit span:first-child {
  color: var(--maincolor);
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid var(--bcolor);
  transition: var(--trans);
}

.events .cont .count .unit:hover span:first-child {
  border-bottom-color: var(--maincolor);
}

.events .cont .count .unit span:last-child {
  font-size: .9em;
}

.events .cont h2 {
  text-align: center;
}

.events .cont p {
  color: var(--pcolor);
  font-size: 1.2em;
  line-height: 1.7;
  text-align: center;
}

.events .sub {
  width: 100%;
}

.events form {
  margin: 20px auto;
  background-color: var(--backcolor);
  padding: 20px;
  border-radius: 100px;
  display: flex;
  gap: 20px;
  width: 500px;
  max-width: 100%;
}

.events input {
  border: 0px;
  border-radius: 80px;
  padding: 20px;
}

.events input:first-child {
  outline: 0;
  flex-grow: 1;
  caret-color: var(--maincolor);
  color: var(--maincolor);
  line-height: 1.2;
}

.events input:first-child::placeholder {
  text-transform: capitalize;
  opacity: 1;
  transition: var(--trans);
}

.events input:first-child:focus::placeholder {
  opacity: 0;
}

.events input:last-child {
  background-color: var(--maincolor);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: var(--trans);
}

.events input:last-child:hover {
  background-color: var(--seccolor);
}

@media (max-width:767px) {
  .events img {
    display: none;
  }

  .events form {
    flex-direction: column;
    border-radius: 10px;
  }

  .events input {
    border-radius: 10px;
  }
}

/* end events */
/* start pricing */

.pricing {
  padding: var(--padding);
  background-color: var(--backcolor);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .box {
  background-color: white;
  box-shadow: var(--shadow);
  text-align: center;
  position: relative;
  z-index: 1;
}

.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #f6f6f6;
  top: 0%;
  left: 0%;
  z-index: -1;
  transition: var(--trans);
}

.pricing .box:hover:after {
  width: 100%;
}

.pricing .box .label {
  position: absolute;
  writing-mode: vertical-rl;
  padding: 10px 10px 40px;
  background-color: var(--maincolor);
  color: white;
  font-weight: 700;
  width: 40px;
  right: 20px;
}

.pricing .box .label::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent #ffffff;
  right: 0;
  bottom: -1px;
}

@media (min-width: 1200px) {
  .popular {
    top: -20px;
  }

}

.pricing .box h2 {
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}

.pricing .box img {
  width: 80px;
  margin: 0 auto 30px;
}

.pricing .box .price {
  margin: 0 0 30px;
  padding: 10px;
}

.pricing .box .price .num {
  display: block;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--maincolor);
}

.pricing .box .price .mon {
  display: block;
  color: var(--pcolor);
}

.pricing .box ul {
  margin-bottom: 50px;
}

.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid var(--bcolor);
  text-align: start;
}

.pricing .box ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--maincolor);
  margin-right: 10px;
}

.pricing .box .choose {
  display: block;
  padding: 15px 20px;
  margin: 0 auto 30px;
  font-weight: 700;
  color: var(--maincolor);
  border: 3px solid var(--maincolor);
  border-radius: 6px;
  width: fit-content;
  transition: var(--trans);
}

.pricing .box .choose:hover {
  background-color: var(--maincolor);
  color: white;
}

/* end pricing */
/* start videos */

.videos {
  padding: var(--padding);
}

.videos .holder {
  display: flex;
  border: 1px solid var(--bcolor);
}

@media (max-width:767px) {
  .videos .holder {
    flex-direction: column;
  }
}

.videos .holder .list {
  min-width: 300px;
  border-right: 1px solid var(--bcolor);
}

.videos .holder .list .top {
  padding: 20px;
  background-color: var(--backcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.videos .holder .list .top i {
  display: block;
  transition: var(--trans);
  cursor: pointer;
}

.videos .holder .list .top i:hover {
  color: var(--maincolor);
}

.videos .holder .list ul li {
  padding: 20px;
  cursor: pointer;
  transition: var(--trans);
  border-top: 1px solid var(--bcolor);
}

.videos .holder .list ul li:hover {
  color: var(--maincolor);
}

.videos .holder .list ul li span {
  display: block;
  padding: 5px;
  color: var(--pcolor);
}

.videos .holder .vidprev {
  background-color: var(--backcolor);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos .holder .vidprev img {
  max-width: 100%;

}

.videos .holder .vidprev .info {
  padding: 20px;
  background-color: white;
}

/* end videos */
/* start stats */

.stats {
  background-image: url(../images/stats.jpg);
  padding: var(--padding);
  position: relative;
  z-index: 2;
}

.stats::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: .9;
  z-index: -1;
}

@media (max-width:991px) {
  .stats::before {
    height: calc(100% + 2px);
    top: -1px;
  }
}

.stats h1 {
  text-align: center;
  padding: 0 10px 0;
  margin-bottom: 50px;
  font-size: 40px;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .container .box {
  background-color: white;
  padding: 20px;
  opacity: .8;
  transition: var(--trans);
  position: relative;
}

.stats .container .box:hover {
  opacity: 1;
}

.stats .container .box::before,
.stats .container .box::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 0;
  background-color: var(--maincolor);
  transition: .5s;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}

.stats .container .box::before {
  bottom: 0;
  left: 0;
}

.stats .container .box::after {
  top: 0;
  right: 0;
}

.stats .container .box i {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}

.stats .container .box h2 {
  font-size: 50px;
  text-align: center;
  margin: 20px auto 20px;
}

.stats .container .box span {
  display: block;
  color: var(--maincolor);
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0;
}

/* end stats */
/* start discount */

.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.discount .one {
  background-color: var(--seccolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-image: url(../images/discount-background1.jpg);
  position: relative;
  animation: back 5s linear infinite;
  z-index: 1;
}

.discount .one::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--maincolor);
  opacity: .9;
  z-index: -1;
}


@media (min-width:992px) {

  .one,
  .two {
    flex-basis: 50%;
  }

}

@media (max-width:991px) {

  .one,
  .two {
    flex-basis: 100%;
  }

}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h1 {
  font-size: 40px;
  letter-spacing: -1px;
}

.discount .one p {
  line-height: 1.7;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  max-width: 500px;
}

.discount .one img {
  max-width: 100%;
  width: 300px;
  margin: 0 auto 0;
}

.discount .two {
  display: flex;
  align-items: center;
  justify-content: center;
}



.discount .two input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--bcolor);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  outline: 0;
  caret-color: var(--maincolor);
}

.discount .two textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--bcolor);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  outline: 0;
  caret-color: var(--maincolor);

  resize: none;
  height: 200px;
}

.discount .two [type=submit] {
  background-color: var(--maincolor);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  transition: var(--trans);
}

.discount .two [type=submit]:hover {
  background-color: var(--seccolor);
}

/* end discount */
/* start footer */

footer {
  background-color: #191919;
  padding: 60px 0 0;
  color: #b9b9b9;
  line-height: 2;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

footer .one img {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

footer .one .icons {
  display: flex;
  gap: 10px;
}

footer .one .icons a {
  background-color: #313131;
  color: #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--trans);
}

footer .one .icons a:first-child:hover {
  background-color: #1877f2;
}

footer .one .icons a:nth-child(2):hover {
  background-color: #1da1f2;
}

footer .one .icons a:last-child:hover {
  background-color: #ff0000;
}

footer .one p {
  line-height: 2;
  color: #b9b9b9;
}

footer ul li {
  padding: 10px;
  color: #b9b9b9;
  border-bottom: 1px solid #444;
  transition: var(--trans);
  cursor: pointer;
}

footer ul li::before {
  content: "\f101";
  font-weight: 900;
  /* font-size: 10px; */
  position: relative;
  font-family: "Font Awesome 6 Free";
  color: var(--maincolor);
  margin-right: 10px;
}

footer ul li:hover {
  padding-left: 30px;
}

footer ul li:last-child {
  border-bottom: 0;
}

footer .three div {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;

}

footer .three div i {
  display: block;
  font-size: 26px;
  color: var(--maincolor);
}

footer .three div p {
  line-height: 1.7;
  flex: 1;
  margin: 0;
}

footer .four img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
  display: inline;
}

.end {
  padding: 20px 0;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

.end i {
  color: var(--maincolor);
  margin: 0 10px;
  /* display: block; */
}

.end i.fa-heart {
  color: rgb(255, 44, 44);
  margin: 0;
  display: inline;
}

.end span {
  color: var(--maincolor);
  font-weight: bold;
}

@media (max-width:767px) {
  footer {
    text-align: center;
  }

  footer .icons {
    justify-content: center;
  }

  footer .three div {
    flex-direction: column;
  }
}

/* end footer */